h1 {
    padding-top: 20px;
    text-align: center;
}
  
.news-row {
    width: 720px;
    margin: 10px auto;
    border: 1px solid #888;
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    padding: 5px;
}
  
.title, .date, .blurb, .link {
    float: left;
    padding: 2px 5px;
}
  
.title {
    font-weight: bold;
    font-size: 12pt;
    width: 450px;
    text-decoration: underline;
}
  
.date {
    width: 200px;
    text-align: center;
}
  
.blurb { 
    width: 525px;
    padding: 10px
}

.link {
    width: 155px;
    padding: 10px;
}


#add-news-container {
    position: absolute;
    background-color: #fafafa;
    width: 450px;
    height: 105px;
    border: 1px solid #000;
    margin: 10px 0 0 505px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px #444;
    -moz-box-shadow: 0 2px 5px #444;
    box-shadow: 0 2px 5px #444;
    z-index: 100;
}

#add-news-container .row {
    margin: 0;
    padding: 0;
}

#add-news-container .row dd {
    text-align: left;
    padding: 0;
    margin: 0;
    float: left;
}

#add-news-container .row dd input[type=text] {
    font-size: 12pt;
    padding: 5px;
}

#add-news-container .row dd input[type=submit] {
    padding: 7px 15px;
    cursor: pointer;
}

#add-news-container .row dt {
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    font-size: 12pt;
    padding-top: 7px;
}

#add-news-container h4 {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 12pt;
}

#add-news-container #error-string {
    position: absolute;
    color: #e00;
    font-weight: bold;
    margin: 35px 0 0 0;
    padding: 0;
    width: 430px;
    text-align: center;
}

#page-actions {
    text-align: right;
    margin-right: 20px;
}

.links {
    float: right;
}

.links img {
    width: 25px;
}