h3 {
    font-size: 22pt;
}

h3.pad {
   padding-top: 40px;
}

.director {
    float: right;
    width: 650px;
    padding: 10px;
    text-align: right;
}

.name {
    font-size: 14pt;
    font-weight: bold;
}

.league a {
    font-size: 10pt;
    color: #c55;
    text-decoration: none;
}

.league a:hover {
    text-decoration: underline;
}
