#forms {
	width: 400px;
	border: 1px solid #444;
	-webkit-box-shadow: 0 0 15px #888;
	-moz-box-shadow: 0 0 15px #888;
	box-shadow: 0 0 15px #888;
	margin: 15px auto;
	font-size: 12pt;
}

#forms dt {
	font-weight: bold;	
	margin-left: 40px;
}

#forms input[type=text] {
	padding: 5px;
	width: 250px;
}
 
#forms p.description {
	font-size: 8pt;
	margin: 0 0 15px 0;
	padding: 0;
}

#forms input[type=submit] {
	float: left;
	margin: 10px;
}

#forms input[type=submit] {
	width: 100px;
	float: left;
}

#cancel-label,
#upload-label {
	display: none;
}

#upload-element {
	margin-left: 75px;
}
