.minute-container {
    border: 1px solid #444;
    padding: 0;
    margin: 20px auto;
    width: 665px;
    -webkit-box-shadow: 1px 1px 5px #444;
    -moz-box-shadow: 1px 1px 5px #444;
    box-shadow: 1px 1px 5px #444;
}

.minute {
    padding: 5px 0;
    line-height: 25px;
}

.minute .when {
    width: 150px;
    float: left;
    text-align: center;
}

.minute .location {
    width: 350px;
    float: left;
}

.minute .links {
    width: 150px;
    float: left;
    text-align: center;
}

.minute .links img {
    width: 25px;
    height: 25px;
}

.minute .header {
    font-weight: bold;
    font-size: 12pt;
    text-decoration: underline;
    text-align: left;
    padding-left: 5px;
}

.even {
    background-color: #f0f0f0;
}

.odd {
    background-color: #fff;
}

#add-minutes-container {
    position: absolute;
    background-color: #fafafa;
    width: 450px;
    height: 105px;
    border: 1px solid #000;
    margin: 0 0 0 -225px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px #444;
    -moz-box-shadow: 0 2px 5px #444;
    box-shadow: 0 2px 5px #444;
    z-index: 100;
}

#add-minutes-container .row {
    margin: 0;
    padding: 0;
    line-height: 75px;
}

#add-minutes-container .row dd {
    text-align: left;
    padding: 0;
    margin: 0;
    float: left;
}

#add-minutes-container .row dd input[type=text] {
    font-size: 12pt;
    padding: 5px;
}

#add-minutes-container .row dd input[type=submit] {
    padding: 7px 15px;
    cursor: pointer;
}

#add-minutes-container .row dt {
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    font-size: 12pt;
}

#add-minutes-container h4 {
    margin: -35px 0 -60px 0;
    padding: 10px;
    text-align: center;
    font-size: 12pt;
}

#error-string {
    position: absolute;
    color: #e00;
    font-weight: bold;
    top: 70px;
    margin: 0;
    padding: 0;
    line-height: 30px;
    width: 430px;
    text-align: center;
}