#minute-container {
    border: 1px solid #444;
    padding: 0;
    margin: 0 auto;
    width: 665px;
    -webkit-box-shadow: 1px 1px 5px #444;
    -moz-box-shadow: 1px 1px 5px #444;
    box-shadow: 1px 1px 5px #444;
}

.minute {
    padding: 5px 0;
    line-height: 25px;
}

.minute .when {
    width: 150px;
    float: left;
    text-align: center;
}

.minute .location {
    width: 350px;
    float: left;
}

.minute .links {
    width: 150px;
    float: left;
    text-align: center;
}

.minute .links img {
    width: 25px;
    height: 25px;
}

.minute .header {
    font-weight: bold;
    font-size: 12pt;
    text-decoration: underline;
    text-align: left;
    padding-left: 5px;
}

.even {
    background-color: #f0f0f0;
}

.odd {
    background-color: #fff;
}


