.minute-container {
    border: 1px solid #444;
    padding: 0;
    margin: 20px auto;
    width: 665px;
    -webkit-box-shadow: 1px 1px 5px #444;
    -moz-box-shadow: 1px 1px 5px #444;
    box-shadow: 1px 1px 5px #444;
}

.minute {
    padding: 5px 0;
    line-height: 25px;
}

.minute .when {
    width: 150px;
    float: left;
    text-align: center;
}

.minute .location {
    width: 350px;
    float: left;
}

.minute .links {
    width: 150px;
    float: left;
    text-align: center;
}

.minute .links img {
    width: 25px;
    height: 25px;
}

.minute .header {
    font-weight: bold;
    font-size: 12pt;
    text-decoration: underline;
    text-align: left;
    padding-left: 5px;
}

.even {
    background-color: #f0f0f0;
}

.odd {
    background-color: #fff;
}



#add-minutes-container .row dd input[type=text] {
    font-size: 12pt;
    padding: 5px;
}

#add-minutes-container .row dt {
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    font-size: 12pt;
    padding-top: 6px;
}

#error-string {
    color: #e00;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}
