#title, #url, #info, #content {
    width: 500px;
    padding: 5px;
}

#info {
    height: 50px;
}

#content {
    width: 600px;
    height: 400px;
}

#buttons-container {
    margin-top: 40px;
    text-align: center;
}

.button, button-red {
    font-size: 14pt;
    padding: 3px 25px;
}

p {
    text-align: center;
}

p.description {
    text-align: left;
    margin: 0 0 0 125px;
    padding: 0;
    color: #c00;
}

.row {
    padding: 10px;
}

.row  dt {
    float: left;
    width: 150px;
    text-align: right;
    font-size: 12pt;
    padding-top: 7px;
    margin-right: 10px;
}

select {
    font-size: 12pt;
    padding: 5px;
}

dd.disabled {
    font-size: 12pt;
    padding: 7px;
    color: #a0a0a0;
}

#is_visible-element {
    margin-top: 7px;
}