#officersedit-container {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    -webkit-box-shadow: 0 0 7px #444;
    -moz-box-shadow: 0 0 7px #444;
    box-shadow: 0 0 7px #444;
}

#officersedit-container input[type=text] {
    padding: 5px;
    font-size: 12pt;
    width: 300px;
}

#officersedit-container #since, #officersedit-container #to {
    width: 100px;
    text-align: center;
}

#officersedit-container #weight {
    width: 50px;
    text-align: center;
    
}

#officersedit-container .row {
    padding: 10px;
}

#officersedit-container dt {
    font-weight: bold;
    font-size: 12pt;
    float: left;
    width: 125px;
    padding-top: 7px;
    text-align: right;
    margin-right: 10px;
}

#officersedit-container input[type=submit] {
    padding: 5px 15px;
}

#officersedit-container select {
    padding: 5px;
}

#buttons-container {
    margin-top: 40px;
    text-align: center;
}

.button, button-red {
    font-size: 14pt;
    padding: 3px 25px;
}

p.description {
    color: #909090;
    margin: 0 0 10px 100px;
    padding: 0;
}

