#pickupedit-container {
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    -webkit-box-shadow: 0 0 7px #444;
    -moz-box-shadow: 0 0 7px #444;
    box-shadow: 0 0 7px #444;

}

#pickupedit-container dt {
    font-size: 12pt;
    font-weight: bold;
    width: 125px;
    text-align: right;
    float: left;
    margin: 10px 10px 10px 0;
    padding-top: 2px;
}

#pickupedit-container dd {
    margin: 10px 0;
    padding: 5px 0;
}

#pickupedit-container #is_visible {
    margin: 10px;
}

#pickupedit-container input[type=text] {
    font-size: 12pt;
    padding: 5px;
    width: 400px;
}

#pickupedit-container #weight {
    width: 50px;
    text-align: center;
}

#pickupedit-container #is_visible-element {
    padding-top: 7px;
}

#user_id-element {
    padding-top: 5px;
}

#user_id {
    padding: 5px;
    font-size: 12pt;
}

#buttons-container {
    margin-top: 40px;
    text-align: center;
}

.button, button-red {
    font-size: 14pt;
    padding: 3px 25px;
}

p.description {
    color: #808080;
    margin: 0 0 0 100px;
}


