p {
    width: 500px;
    text-align: justify;
    margin: 15px auto;
}

#registration-container {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    -webkit-box-shadow: 0 0 7px #444;
}

#registration-container input[type=text] {
    padding: 5px;
    font-size: 12pt;
    width: 300px;
}

#registration-container .row {
    padding: 10px;
}

#registration-container dt {
    font-weight: bold;
    font-size: 12pt;
    float: left;
    width: 125px;
    padding-top: 7px;
    text-align: right;
    margin-right: 10px;
}

#registration-container input[type=submit] {
    padding: 5px 15px;
}