.minors {
    width: 800px;
    margin: 20px auto;
}

.row .name,
.row .gender,
.row .birthday,
.row .nickname,
.row .height,
.row .level,
.row .experience,
.row .action {
    float: left;
    padding: 2px;
}

.row .name {
    width: 150px;
}

.row .gender {
    width: 75px;
    text-align: center;
}

.row .birthday,
.row .experience {
    width: 100px;
    text-align: center;
}

.row .nickname {
    width: 120px;
}

.row .height {
    width: 75px;
    text-align: center;
}

.row .level {
    width: 120px;
}

.row .action {
    width: 30px;
    text-align: center;
    padding: 0;
}

.row .action img {
    width: 20px;
    height: 20px;
}

.header div {
    text-decoration: underline;
    font-size: 14pt;
    font-weight: bold;
}

.header div.action {
    text-decoration: none;
}

.minors .odd div {
    background-color: #efefef;
}

.minors-links {
    text-align: right;
    margin-right: 100px;
}
