.password-container {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #444;
    -webkit-box-shadow: 0 0 7px #444;
    -moz-box-shadow: 0 0 7px #444;
    box-shadow: 0 0 7px #444;
}

.password-container dt {
    font-weight: bold;
    text-align: right;
    width: 150px;
    margin: 5px 5px 0 0;
    padding: 5px 0;
    float: left;
}

.password-container dd {
    padding: 5px 0;
}

.password-container input {
    padding: 5px;
}

.password-container ul.errors {
    color: #c00;
    margin: 0 0 0 115px;
    padding: 0;
    list-style: none;
}