.personal {
    margin-top: 20px;
    font-size: 12pt;
}

.personal dt {
    width: 150px;
    text-align: right;
    float: left;
    margin-right: 5px;
    padding: 9px 0 0 0;
}

.personal dd {
    padding: 5px;
}

.personal dd input {
    padding: 5px;
}

.personal select {
    font-size: 14pt;
}

.personal p.description {
    font-size: 8pt;
    color: #808080;
    padding: 0;
    margin: 0 0 0 110px;
}

.personal input[type=radio] {
    margin: 7px 5px 5px 5px;
}

.personal ul.errors {
    color: #c00;
    margin: 0 0 0 70px;
    list-style: none;
}

#created_at-element,
#updated_at-element {
    padding: 10px 5px 5px 5px;
    color: #808080;
}

dd.yes {
    padding: 10px 5px 5px 5px;
    color: #080;
}

dd.no {
    padding: 10px 5px 5px 5px;
    color: #c00;
}

#height {
    width: 50px;
    text-align: center;
}

#birthday {
    width: 115px;
    text-align: center;
}

#phone {
    width: 115px;
}

#experience {
    width: 50px;
    text-align: center;
}

#email-label {
    margin-top: 2px;
}
