h1 {
    padding-top: 10px;
}

#previous-link {
    width: 200px;
    float: right;
    margin: -32px 150px 10px 0;
    padding: 10px;

}

#player-card {
    border: 1px solid #444;
    width: 500px;
    margin: 20px auto;
    padding: 10px;
}

#player-card .name, #player-card .experience {
    background-color: #e0e0e0;
    border: 1px solid #aaa;
}

#player-card .name {
    font-weight: bold;
    font-size: 20pt;
    border-bottom: none;
    padding: 10px 10px 0 10px;
}

#player-card .experience {
    padding: 0 10px 10px 10px;
    font-size: 12pt;
    border-top: none;
}

#player-card .profile {
    padding: 10px 0;
}

#player-card .profile .key, #player-card .profile .value {
    float: left;
    width: 100px;
    padding: 5px;
}

#player-card .profile .key {
    font-weight: bold;
    text-align: right;
}

#player-card .leagues h3,
#player-card .clubs h3 {
    margin: 10px 0;
    background-color: #e0e0e0;
    border: 1px solid #aaa;
    padding: 5px;
}
#player-card .leagues .year,
#player-card .leagues .league,
#player-card .leagues .team,
#player-card .leagues .record,
#player-card .clubs .team,
#player-card .clubs .type,
#player-card .clubs .year {
    padding: 0;
    margin: 0;
    float: left;
}
#player-card .leagues .year {
    width: 40px;
}

#player-card .leagues .league {
    width: 205px;
}

#player-card .leagues .team {
    width: 200px;
}

#player-card .leagues .record {
    width: 55px;
    text-align: center;
}

#player-card .leagues .header,
#player-card .clubs .header {
    font-weight: bold;
    text-decoration: underline;
}

#player-card .clubs .team,
#player-card .clubs .year {
    float: left;
    padding: 0;
    margin: 0;
}

#player-card .clubs .year {
    width: 40px;
    text-align: center;
}

#player-card .clubs .type {
    width: 100px;
    text-align: left;    
}

#player-card .clubs .team {
    width: 360px;
    text-align: left;
}





