#main-content {
    padding: 0;
}

.middle {
    background: url('../images/homeBanner.png') no-repeat;
    height: 214px;
    border-bottom: 20px solid rgb(0,0,0);
    margin: 0;
}

.middle section {
    float: left;
    background: #d0dd71;
    width: 290px;
    margin: 30px 10px 0 10px;
    height: 184px;
    padding: 0 5px;
    -webkit-box-shadow: 0 -1px 10px #808c21
}

section {
    overflow-y: auto;
}

section .all {
    float: right;
    font-size: 10pt;
    color: #7d8c12;
    margin-top: -12px;
}

section .all a {
    color: #555f0c;
}

section h2 {
    font-size: 14pt;
    margin: -15px 0 5px 0;
    padding: 5px;
    text-align: center;
    color: #7d8c12;
    text-decoration: underline;
}

section h3 {
    font-size: 10pt;
    font-weight: bold;
    margin: 0 0 0 20px;
    padding: 0;
    line-height: 15px;
    color: #222;
}

section p {
    font-size: 8pt;
    margin: 0 0 5px 25px;
    padding: 0;
}


.lower section {
    width: 310px;
    height: 345px;
    float: left;
    background: #fff;
    padding: 5px;
}

.lower section .all {
    margin-top: -28px;
}

.lower section p {
    margin: 0 0 10px 25px;
}

.lower section h2 {
    text-align: left;
    text-decoration: none;
}

.lower section.youth h2 {
    color: #800080;
}

.lower section.calendar {
    text-align: center;
}

.lower section.calendar h2 {
    color: #a25;
    margin-bottom: 20px;
    text-align: left;
}

.lower section.info h2 {
    color: #f90;
}

.lower section img {
    width: 40px;
    height: 40px;
}
