#table {
    width: 700px;
    float: right;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #444;
}

#table .header {
    font-weight: bold;
    font-size: 14pt;
}

#table .header div {
    text-decoration: underline;
    padding: 5px;
}

#table .row div {
    padding: 5px;
}

#table .name {
    float: left;
    width: 170px;
}

#table .leagues {
    float: left;
    width: 440px;
}

#table .owed {
    float: left;
    width: 50px;
    text-align: center;
}

#table .odd div {
    background-color: #eee;
}
