#table {
    width: 700px;
    float: right;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #444;
}

.actions {
    text-align: right;
    margin: 15px;
}

#table .header {
    font-weight: bold;
    font-size: 14pt;
}

#table .header div {
    text-decoration: underline;
    padding: 5px;
}

#table .row div {
    padding: 5px;
}

#table .name {
    float: left;
    width: 290px;
}

#table .email {
    float: left;
    width: 390px;
}

#table .odd div {
    background-color: #eee;
}
