h1.club {
	font-size: 30pt;
	text-align: center;
}

h3.club {
	font-style: italic;
	font-size: 14pt;
	text-align: center;
}

.social,
.contact {
	margin: 20px 0;
	text-align: center;
}

.social a {
	float: left;
}

.social a img {
	width: 25px;
	height: 25px;
	margin-right: 20px;
}

.info {
	text-align: justify;
	width: 600px;
	margin: 20px auto;
}

#members {
	width: 800px;
	margin: 20px auto;
}

