header {
    background: url('../../images/cupa.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 85px;
    background-size: 221px 80px
}

.not-found,
.server {
    background: url('../../images/404.jpg');
    background-repeat: no-repeat;
    background-position: center;

    margin: 20px auto;
    width: 800px;
    height: 600px;

    -webkit-box-shadow: 0 0 25px #000;
    -moz-box-shadow: 0 0 25px #000;
    box-shadow: 0 0 25px #000;
}

.server {
    background: url('../../images/500.jpg');
}

.not-found .blurb,
.server .blurb {
    padding-top: 220px;
    font-size: 14pt;
    width: 580px;
    margin: 0 auto;
}

