p.blurb {
    width: 600px;
    text-align: justify;
    margin: 10px auto;
}

.bid {
    width: 850px;
    margin: 50px auto;
    padding: 20px;
    -webkit-box-shadow: 0 0 7px #444;
    -moz-box-shadow: 0 0 7px #444;
    box-shadow: 0 0 7px #444;
}

.bid h2 {
    margin-bottom: 10px;
}

.bid .contact {
    border-left: 1px solid #444;
}

.bid .team,
.bid .contact {
    float: left;
    width: 400px;
    padding: 10px;
    height: 250px;
    border-bottom: 1px solid #444;
}

.bid .comments {
    width: 825px;
    padding: 10px;
}

.bid dt {
    float: left;
    width: 80px;
    text-align: right;
    margin: 5px 0;
    font-weight: bold;
    padding-right: 5px;
}

.bid dd {
    margin: 5px 0;
}

.bid .team input,
.bid .contact input {
    width: 280px;
    padding: 5px;
}

select {
    margin-top: 2px;
    font-size: 12pt;
}

#comments {
    width: 620px;
    height: 100px;
}

ul.errors {
    color: #c00;
    margin: 0 0 0 100px;
    padding: 0;
    list-style: none;
}

#bid {
    padding: 10px 20px;
}
