p.blurb {
    
}
.contact {
    padding: 5px;
}
.contact .label {
    width: 300px;
    text-align: right;
    float: left;
    font-weight: bold;
    font-size: 14pt;
    margin-right: 5px;
}

.contact .value {
    font-size: 14pt;
}
