#description {
    font-size: 12pt;
    width: 590px;
    float: left;
    padding: 10px;
}

#description.highlight {
    background-color: #efefef;
}

#updates {
    width: 300px;
    float: right;
    padding: 10px;
    border-left: 1px solid #a0a0a0;
}

#updates .link {
    text-align: right;
    margin-bottom: 5px;
}

.update .title {
    font-weight: bold;
}

.update .when {
    font-style: italic;
    font-size: 8pt;
    border-bottom: 1px dotted #444;
}

.update .info {
    margin: 5px 0 20px 0;
}

.update .title a,
#description .link a {
    float: right;
}

.update .title a img,
#description .link a img {
    width: 25px;
    height: 25px;
}

#error-string {
    color: #c00;
    text-align: center;
}