.map {
    width: 735px;
    margin: 20px auto;
    padding: 5px;
}

.map iframe {
    -webkit-box-shadow: 0 0 10px #444;
    -moz-box-shadow: 0 0 10px #444;
    box-shadow: 0 0 10px #444;
}

.map .title {
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
}

.map .address {
    text-align: center;
    margin-bottom: 40px;
    font-size: 14pt;
}

#edit-container {
    width: 475px;
    margin: 50px auto;
    padding: 20px;
    -webkit-box-shadow: 0 0 7px #444;
    -moz-box-shadow: 0 0 7px #444;
    box-shadow: 0 0 7px #444;
}

#edit-container dt {
    font-size: 12pt;
    font-weight: bold;
    width: 100px;
    padding-top: 5px;
    float: left;
    text-align: right;
    margin: 5px 5px 5px 0;
}

#edit-container input[type=text] {
    padding: 5px;
    width: 300px;
    margin: 5px 0;
}

#edit-container p.description {
    margin: 0 0 15px 65px;
    padding: 0;
    color: #808080;
    font-size: 10pt;
}

#buttons-container {
    margin-top: 40px;
    text-align: center;
}

#buttons-container .button, button-red {
    font-size: 14pt;
    padding: 3px 25px;
}

ul.errors {
    color: #c00;
    list-style: none;
    margin: 0 0 10px 70px;
    padding: 0;
}

.page-actions {
    text-align: center;
    margin: 10px 0;
}

#location_map {
    width: 310px;
    height: 100px;
}