#tabs {
    padding-bottom: 40px;
}

.team {
    width: 570px;
    margin: 10px auto;

}
.team.header {
    font-size: 12pt;
    border-bottom: 1px solid #444;
}

.team .name {
    width: 200px;
    float: left;
    padding: 5px;
}

.team .location {
    float: left;
    width: 150px;
    text-align: center;
    padding: 5px;
}

.team .paid {
    width: 75px;
    float: left;
    text-align: center;
    padding: 5px;
}

.team .accepted {
    width: 75px;
    float: left;
    text-align: center;
    padding: 5px;
}

.team .remove {
    float: left;
    width: 30px;
    text-align: center;
    padding-top: 5px;
}

.team .remove img {
    width: 20px;
    height: 20px;
}

.team.highlight div {
    background-color: #ffffcd;
}

.team.odd div {
    background-color: #efefef;
}

.row {
    margin: 5px auto;
}

.row input {
    padding: 5px;
    width: 150px
}

#error-string {
    color: #c00;
    text-align: center;
}