#tabs {
    padding-bottom: 40px;
}

.team {
    width: 650px;
    margin: 10px auto;
}

.header div {
    font-size: 12pt;
    border: none;
    font-weight: bold;
    text-decoration: underline;
}

.header div.remove {
    text-decoration: none;
}

.team .name {
    width: 200px;
    float: left;
    padding: 5px;
}

.team .location {
    float: left;
    width: 200px;
    text-align: center;
    padding: 5px;
}

.team .paid {
    width: 75px;
    float: left;
    text-align: center;
    padding: 5px;
}

.team .accepted {
    width: 75px;
    float: left;
    text-align: center;
    padding: 5px;
}

.team .remove {
    float: left;
    width: 50px;
    text-align: center;
    padding: 5px 0;
}

.team .remove img {
    width: 20px;
    height: 20px;
}

.team.odd div {
    background-color: #efefef;
}

.team.highlight div {
    background-color: #ffffcd;
}

.row {
    margin: 5px auto;
}

.row input {
    padding: 5px;
    width: 150px
}

#error-string {
    color: #c00;
    text-align: center;
}

#edit-container {
    width: 410px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #444;
    -webkit-box-shadow: 0 0 7px #444;
    -moz-box-shadow: 0 0 7px #444;
    box-shadow: 0 0 7px #444;
}

#edit-container dt {
    font-size: 12pt;
    font-weight: bold;
    text-align: right;
    margin-right: 5px;
    width: 80px;
    float: left;
}

#edit-container input[type=text] {
    width: 300px;
}

#edit-container h2.pad {
    margin-top: 30px;
}

#paid-element,
#accepted-element {
    padding-top: 5px;
}

#buttons-container {
    width: 200px;
    margin: 20px auto;
}

.actions {
    text-align: right;
    margin: 10px 10px 10px 0;
}

span.yes {
    color: #080;
}

span.no {
    color: #c00;
}
