#table {
    width: 700px;
    float: right;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #444;
}

#table .name {
    font-weight: bold;
    font-size: 14pt;
    border-bottom: 1px solid #444;
    margin: 15px 0 0 0;
}

#table .odd div {
    background-color: #eee;
}

#table .inactive div {
    color: #c00;
}

#table .active div {
    color: #080;
}

#table .sub-header {
    font-weight: bold;
    margin: 10px 0 0 0;
}

#table .sub-name {
    float: left;
    width: 150px;
}

#table .email {
    float: left;
    width: 200px;
}

#table .requested,
#table .activated,
#table .last-login {
    float: left;
    width: 90px;
    text-align: center;
}

#table .action {
    float: left;
    width: 75px;
    text-align: center;
}

#table .action img {
    width: 25px;
    height: 26px;
    padding: 5px;
}

