#schedulegenerate-container {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    -webkit-box-shadow: 0 0 7px #444;
    -moz-box-shadow: 0 0 7px #444;
    box-shadow: 0 0 7px #444;
    font-size: 12pt;
}

#buttons-container {
    text-align: center;
    width: 600px;
    margin: 10px auto;
}

#schedulegenerate-container .button {
    font-size: 12pt;
}

#schedulegenerate-container dt {
    font-weight: bold;
    float: left;
    width: 200px;
    text-align: right;
    margin-right: 10px;
}

#schedulegenerate-container p.description {
    color: #a0a0a0;
    font-size: 8pt;
    margin: 0 0 20px 175px;
    padding: 0;
}