.league {
    margin: 20px 0;
    padding: 10px;
}

.league .name {
    float: left;
    font-size: 20pt;
    font-weight: bold;
    margin-right: 10px;
}

.league .when {
    padding-top: 5px;
    font-size: 14pt;
}

.league .when-text {
    color: #a0a0a0;
}

.league .information {
    margin-left: 10px;
}