#available select,
#players select { 
	width: 370px;
	height: 400px;
	overflow-y: auto;
	border: 1px solid #444;
	font-size: 12pt;
	padding: 5px;
}

#available {
	float: left;
	margin-left: 30px;
}

#players {
	float: left;
	margin-right: 30px;
}

#buttons {
	width: 100px;
	height: 300px;
	float: left;
	padding: 150px 20px 20px;
	text-align: center;
}

#team-select-div {
	text-align: center;
	width: 600px;
	margin: 15px auto;	
}

fieldset select {
    width: 500px;
}

fieldset button.button {
    margin: 3px 10px 0 0;
    float: right;
}

fieldset {
    border: 1px solid #444;
    width: 675px;
    padding: 5px;
    margin: 5px;
}

fieldset legend {
    font-size: 14pt;
    font-weight: bold;
    padding: 0 5px;
}