#leagueedit-container {
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    -webkit-box-shadow: 0 0 7px #444;
    -moz-box-shadow: 0 0 7px #444;
    box-shadow: 0 0 7px #444;
}
#leagueedit-container h2 {
    font-size: 22pt;
}

#leagueedit-container input[type=text] {
    padding: 5px;
    font-size: 12pt;
    width: 300px;
}

#leagueedit-container .row {
    padding: 10px;
}

#leagueedit-container .row dt {
    font-weight: bold;
    font-size: 12pt;
    float: left;
    width: 125px;
    padding-top: 7px;
    text-align: right;
    margin-right: 10px;
}

#leagueedit-container .radio dt {
    font-weight: bold;
    font-size: 12pt;
    float: left;
    width: 625px;
    padding-top: 7px;
    text-align: left;
    clear: both;
}

#leagueedit-container .radio dd {
    width: 500px;
    clear: both;
    text-align: left;
    margin-left: 135px;
    padding: 5px;
}

#leagueedit-container input[type=submit] {
    padding: 5px 15px;
}

#leagueedit-container select {
    padding: 5px;
    font-size: 12pt;
}

#buttons-container {
    margin-top: 40px;
    text-align: center;
}

.button, button-red {
    font-size: 14pt;
    padding: 3px 25px;
}

p.description {
    color: #909090;
    margin: 0 0 10px 100px;
    padding: 0;
}

#directors {
    width: 500px;
    padding: 5px;
}

#leagueedit-container #league_address_street,
#leagueedit-container #tournament_address_street,
#leagueedit-container #draft_address_street,
#leagueedit-container #league_name,
#leagueedit-container #tournament_name,
#leagueedit-container #draft_name,
#leagueedit-container #league_map_link,
#leagueedit-container #tournament_map_link,
#leagueedit-container #draft_map_link,
#leagueedit-container #league_photo_link,
#leagueedit-container #tournament_photo_link,
#leagueedit-container #draft_photo_link
{
    width: 465px;
}

#leagueedit-container #league_address_city,
#leagueedit-container #tournament_address_city,
#leagueedit-container #draft_address_city {
    width: 310px;
    margin-left: 95px;
}

#leagueedit-container #league_address_state,
#leagueedit-container #tournament_address_state,
#leagueedit-container #draft_address_state {
    width: 40px;
    text-align: center;
}

#leagueedit-container #league_address_zip,
#leagueedit-container #tournament_address_zip,
#leagueedit-container #draft_address_zip {
    width: 75px;
    text-align: center;
}

#leagueedit-container #league_start,
#leagueedit-container #tournament_start,
#leagueedit-container #draft_start,
#leagueedit-container #league_end,
#leagueedit-container #tournament_end,
#leagueedit-container #draft_end {
    width: 150px;
    
}

#leagueedit-container .exists {
    float: right;
    width: 160px;
    text-align: center;
}

#leagueedit-container #tournament_exists,
#leagueedit-container #draft_exists {
    margin-top: 10px;
}

#leagueedit-container #info {
    height: 50px;
    width: 500px;
}

#leagueedit-container #male_players,
#leagueedit-container #female_players,
#leagueedit-container #total_players,
#leagueedit-container #teams {
    width: 50px;
    text-align: center;
}

#leagueedit-container #limit_select,
#leagueedit-container #is_youth,
#leagueedit-container #user_teams,
#leagueedit-container #is_pods,
#leagueedit-container #is_hat,
#leagueedit-container #is_clinic {
    height: 32px;
}


.questions div.question {
    border: 1px solid #444;
    width: 750px;
    margin: 5px auto;
    padding: 5px;
    cursor: move;
}

.questions div.question p.title {
    font-size: 12pt;
}

.questions div.question .links {
    float: right;
}

.questions div.question .links img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.questions div.question.highlight {
    background-color: #efefef;
}

.ui-state-highlight {
    height: 40px;
}

.questions div.question p {
    margin-left: 10px;
}

.questions div.question p.question {
    font-weight: bold;
    margin: 10px 0 0 10px;
    font-size: 12pt;
}

.questions div.question input {
    margin: 0 0 0 10px;
}

.questions div.question p.description {
    font-size: 8pt;
    margin: 0 0 5px 10px
}

.questions div.question textarea {
    width: 400px;
    height: 100px;
}

#button-bar {
    width: 300px;
    float: right;
}

#add-question .row {
    padding: 5px 0;
}

#add-question input {
    padding: 5px;
}

#add-question select {
    font-size: 14pt;
}
