.bar-graph {
    margin: 10px 10px 10px 20px;
}

.bar {
    height: 20px;
}

.graph {
    padding: 2px;
    border: 1px solid #444;
    width: 255px;
}

.graph-header {
    float: left;
    margin: 0 10px 10px 0;
}

span.spots {
    line-height: 20px;
    padding: 7px 0;
}

.register-link, .pay-link {
    font-size: 16pt;
    margin: 5px 5px 5px 20px;
    padding: 0;
    font-weight: bold;
}

.pay-link {
    font-size: 12pt;
}

.closed {
    color: #c00;
}

p {
    margin-left: 20px;
}

p strong {
    font-size: 12pt;
}

p.description {
    text-align: justify;
}

p.links {
    font-size: 14pt;
    font-weight: bold;
}

.location-league-photo, .location-league-address {
    margin: 0 0 0 87px;
}

.location-draft, .location-draft-photo, .location-draft-address {
    margin: 0 0 0 77px;
}

.location-tournament, .location-tournament-photo, .location-tournament-address {
    margin: 0 0 0 140px;
    
}

.location-draft-address, .location-tournament-address, .location-league-address {
    margin-top: -10px;
}

.edit-links {
    float: right;
}

.edit-links img {
    width: 30px;
    height: 30px;
}

.section {
    padding: 5px;
}

.highlight {
    background-color: #f0f0f0;
    -webkit-box-shadow: inset 0 0 15px #aaa;
    -moz-box-shadow: inset 0 0 15px #aaa;
    box-shadow: inset 0 0 15px #aaa;    
}

#add-league-container dt {
    float: left;
    width: 50px;
    text-align: right;
    padding-top: 7px;
    font-size: 12pt;
}

#add-league-container input,
#add-league-container select {
    padding: 5px;
    font-size: 12pt;
}

#error-string {
    position: absolute;
    color: #e00;
    font-weight: bold;
    top: 70px;
    margin: 0;
    padding: 0;
    line-height: 30px;
    width: 430px;
    text-align: center;
}

.notviewable {
    color: #c00;
}
