#admin-buttons {
    text-align: center;
    margin-top: 10px;
}


#players {
    width: 650px;
    margin: 10px auto;
}

#players .name,
#players .gender,
#players .age,
#players .height,
#players .experience,
#players .level {
    float: left;
    padding: 5px;
}

#players .name {
    width: 200px;
}

#players .gender {
    width: 70px;
    text-align: center;

}

#players .age {
    width: 30px;
    text-align: center;
}

#players .height {
    width: 60px;
    text-align: center;
}

#players .experience {
    width: 60px;
    text-align: center;
}

#players .level {
    width: 170px;
}

#players .header {
    font-weight: bold;
    font-size: 12pt;
    border-bottom: 1px solid #444;
    height: 45px;
    vertical-align: bottom;
}

#players .padtop {
    margin-top: 19px;
}

#players .odd div {
    background-color: #efefef;
}

#players .even div {
    background-color: #fff;    
}