
#register-success {
	font-size: 12pt;
}

#register-success h2 {
	text-decoration: underline;
	margin: 15px 0 15px 50px;
	font-size: 18pt;
}

#register-success p {
	margin: 15px 60px;
}

#register-success form {
	margin: -15px 0 30px 60px;
}

#register-success form {
	
}

#register-success span.highlight {
	font-weight: bold;
	color: #226;
	font-size: 14pt;
}

#register-success .players {
	width: 600px;
	margin: 20px auto;
}

#register-success .players .odd div {
	background-color: #efefef;
}

#register-success .players .name {
	width: 250px;
	float: left;
}

#register-success .players span.yes {
	color: #080;
}

#register-success .players span.no {
	color: #c00;
}

#register-success .players .paid,
#register-success .players .release,
#register-success .players .waiver {
	width: 50px;
	float: left;
	text-align: center;	
}

#register-success .players .release,
#register-success .players .waiver {
	width: 65px;
}

#register-success .header div {
	font-weight: bold;
	text-decoration: underline;
}
