#scheduleedit-container {
    width: 550px;
    margin: 50px auto;
    padding: 20px;
    -webkit-box-shadow: 0 0 7px #444;
    -moz-box-shadow: 0 0 7px #444;
    box-shadow: 0 0 7px #444;
}

#scheduleedit-container dt {
    width: 120px;
    text-align: right;
    float: left;
    font-size: 12pt;
    padding-top: 6px;
    margin-right: 10px;
}

#scheduleedit-container input[type=text] {
    font-size: 12pt;
    padding: 2px 5px;
    width: 50px;
    text-align: center;
}

#scheduleedit-container #day {
    width: 150px;
}

#scheduleedit-container select {
    font-size:  12pt;
    margin-top: 5px;
}

#scheduleedit-container .description {
    font-size: 8pt;
    color: #808080;
    margin: 0 0 10px 90px;

}

#scheduleedit-container .left {
    float: left;
}

#scheduleedit-container .right {
    float: right;
}

#buttons-container {
    margin-top: 40px;
    text-align: center;
}

.button, button-red {
    font-size: 14pt;
    padding: 3px 25px;
}
