.weeks {
    width: 800px;
    padding: 5px;
    margin: 10px auto;
}

.weeks .week {
    float: left;
    margin: 2px;
}

.games h2 {
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
}

.games .week {
    border: 1px solid #444;
    width: 800px;
    padding: 10px 5px;
    margin: 5px auto 25px auto;
    background-color: #efefef;
}

.games .week .field {
    width: 75px;
    text-align: center;
    float: left;
}

.games .week .day {
    width: 175px;
    text-align: center;
    float: left;
}

.games .week .team {
    width: 460px;
    float: left;
}

.games .week .team span.win {
    color: #0a0;
}

.games .week .team span.loss {
    color: #c00;
}

.games .week .result {
    float: left;
    width: 75px;
    text-align: center;
}

.title, .title:hover {
    color: #444;
}

#admin-buttons {
    text-align: center;
}

#scheduleadd-container dt {
    width: 120px;
    text-align: right;
    float: left;
    font-size: 12pt;
    padding-top: 6px;
    margin-right: 10px;
}

#scheduleadd-container input[type=text] {
    font-size: 12pt;
    padding: 2px 5px;
    width: 50px;
    text-align: center;
}

#scheduleadd-container #day {
    width: 150px;
}

#scheduleadd-container select {
    font-size:  12pt;
    margin-top: 5px;
}

#scheduleadd-container .description {
    font-size: 8pt;
    color: #808080;
    margin: 0 0 10px 90px;

}

#error-string {
    color: #e00;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}
