#shirts {
    width: 890px;
    margin: 10px auto;
}

.section {
    border: 1px solid #444;
    width: 200px;
    margin: 10px;
    float: left;
}

.section .color {
    padding: 5px 0;
    font-weight: bold;
    font-size: 14pt;
    text-align: center;
    border-bottom: 1px solid #444;
}

.section .counts {
    padding: 10px;
}

.section .label {
    width: 120px;
    text-align: right;
    float: left;
    margin-right: 10px;
    font-weight: bold;
    font-size: 12pt;
    padding: 2px 0;
}

.section .value {
    font-size: 12pt;    
    padding: 2px 0;
    width: 25px;
    text-align: center;
    float: left;
}

.section .total {
    border-top: 1px solid #444;
    padding-bottom: 10px;
}

p.blurb {
    text-align: center;
}

#admin-buttons {
    margin-top: 10px;
    text-align: center;
}
