#teamedit-container {
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    -webkit-box-shadow: 0 0 7px #444;
    -moz-box-shadow: 0 0 7px #444;
    box-shadow: 0 0 7px #444;
}
#teamedit-container h2 {
    font-size: 22pt;
}

#teamedit-container input[type=text] {
    padding: 5px;
    font-size: 12pt;
}

#teamedit-container .row {
    padding: 10px;
}

#teamedit-container .row dt {
    font-weight: bold;
    font-size: 12pt;
    float: left;
    width: 125px;
    padding-top: 7px;
    text-align: right;
    margin-right: 10px;
}

#teamedit-container .radio dt {
    font-weight: bold;
    font-size: 12pt;
    float: left;
    width: 625px;
    padding-top: 7px;
    text-align: left;
    clear: both;
}

#teamedit-container .radio dd {
    width: 500px;
    clear: both;
    text-align: left;
    margin-left: 135px;
    padding: 5px;
}

#teamedit-container input[type=submit] {
    padding: 5px 15px;
}

#teamedit-container select {
    padding: 5px;
    font-size: 12pt;
}

#buttons-container {
    margin-top: 40px;
    text-align: center;
}

.button, button-red {
    font-size: 14pt;
    padding: 3px 25px;
}

p.description {
    color: #909090;
    margin: 0 0 10px 100px;
    padding: 0;
}

input#color {
    width: 200px;
}

#name {
    width: 485px;
}

#captains {
    width: 500px;
    padding: 5px;
}

#final_rank {
    width: 50px;
    text-align: center;
}
