#teams {
    width: 600px;
    margin: 0 auto;
    padding: 20px 0;
    clear: both;
}

.team {
    margin: 20px;
    float: left;
}

.logo, .logo img {
    padding: 5px;
    border: 1px solid #000;
    height: 85px;
    width: 85px;
    float: left;
    -webkit-box-shadow: 0 0 5px #444;
    -moz-box-shadow: 0 0 5px #444;
    box-shadow: 0 0 5px #444;
}

.logo img {
    margin: -5px 0 0 -5px;
    border: none;
}

.info {
    float: left;
    padding: 5px;
    width: 440px;
    margin-left: 10px;
}

span.team-name {
    font-weight: bold;
    font-size: 18pt;
    width: 300px;
    line-height: 40px;
}

.team h3 {
    width: 533px;
    font-size: 14pt;
    font-weight: bold;
    padding-left: 15px;
    border: 1px solid #444;
    -webkit-box-shadow: 0 0 5px #444;
    -moz-box-shadow: 0 0 5px #444;
    box-shadow: 0 0 5px #444;
    margin-top: 10px;
    cursor: pointer;
}

.players {
    font-size: 12pt;
    padding: 2px 10px;
    border: 1px solid #444;
    -webkit-box-shadow: 0 0 5px #444;
    -moz-box-shadow: 0 0 5px #444;
    box-shadow: 0 0 5px #444;
}

.row .name {
    float: left;
    width: 320px;
}

.row .gender {
    float: left;
    width: 125px;
}

.row .height {
    float: left;
    width: 80px;
}

.info.selected {
    background-color: #eee;
    cursor: pointer;
    border-top: 1px solid #aca;
    border-right: 1px solid #aca;
    border-bottom: 1px solid #aca;
    margin: -1px 0 -1px 10px;
    -webkit-box-shadow: inset 0 0 10px #666;
    -moz-box-shadow: inset 0 0 10px #666;
    box-shadow: inset 0 0 10px #666;
}

p {
    text-align: center;
    font-style: italic;
}

.links {
    float: right;
}

.links img {
    width: 25px;
    height: 25px;
}

span.email {
    color: #a0a0a0;
    font-style: italic;
}

.admin-buttons {
    margin: 10px;
    text-align: center;
}

#add-team-container .row dd input[type=text] {
    width: 265px;
}

#add-team-container .row dd input[type=text],
#add-team-container .row dd select {
    font-size: 12pt;
    padding: 5px;
}

#add-team-container .row dt {
    float: left;
    width: 60px;
    text-align: right;
    margin-right: 10px;
    font-size: 12pt;
    padding-top: 6px;
}

#error-string {
    color: #e00;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}

#admin-buttons {
    text-align: center;
    margin: 10px 0;
}

.logo .overlay {
    position: absolute;
    width: 85px;
    height: 70px;
    background-color: none;
    border: 1px solid #0c0;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    font-size: 16pt;
    cursor: pointer;
}

