#waiver-text {
    width: 600px;
    height: 300px;
    overflow-y: auto;
    margin: 20px auto;
    border: 2px solid #444;
    padding: 10px;
    -webkit-box-shadow: 0 0 10px #999;
}

.sign {
    width: 400px;
    margin: 20px auto;
}

.sign input[type=text] {
    width: 300px;
}