#opportunity-list .opportunity {
    border: 1px solid #888;
    padding: 10px;
    -webkit-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    -o-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    margin: 10px 0;
}

#opportunity-list .date {
    margin-top: -2px;
}

#opportunity-list .vol-bar {
    float: right;
    text-align: right;
    font-weight: bold;
}

#opportunity-list .actions {
    float: right;
    text-align: right;
    width: 250px;
    margin-top: -55px;
}

#opportunity-list .vol-bar {
    width: 255px;
    float: right;
    margin-top: -30px;
}
