dt {
    font-size: 14pt;
    font-weight: bold;
    margin: 10px 0 10px 40px;
}

input {
    padding: 5px;
}

p.description {
    color: #888;
    font-size: 8pt;
    margin: 0;
    padding: 0;
}

textarea {
    height: 50px;
}

ul.errors {
    color: #c00;
    list-style: none;
    margin: 5px 0 0 -30px;
}
